@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IServiceProvider ServiceProvider
@using System.Net.Http
@using System.Net.Http.Json

<PageTitle>Home</PageTitle>

<h1>Hello, @displayName!</h1>

<p>
    Enter your name:
    <input @bind="nameInput" />
    <button @onclick="SubmitName" disabled="@(_svc == null)">Go</button>
</p>

@if (!string.IsNullOrEmpty(errMsg))
{
    <p style="color: red;">@errMsg</p>
}

@code {
    private IHttpSvc? _svc;

    private string? nameInput;
    private string displayName = "world";
    private string? errMsg;

    protected override void OnInitialized()
    {
        _svc = ServiceProvider.GetService<IHttpSvc>();
        base.OnInitialized();
    }

    private async Task SubmitName()
    {
        errMsg = null;

        if (_svc == null)
        {
            errMsg = "No Connection. Cannot submit name.";
            Console.WriteLine("HttpClient is not available.");
            return;
        }

        (await _svc.ProcessNameAsync(nameInput)).Match<string>(
            some =>
            {
                displayName = some ?? "world";
            },
            none =>
            {
                errMsg = none.Message;
            });
    }
}